.content {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.header-wrapper { 
 width: 320px;

}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.header-label {
  padding: 0 20px;
  font-weight: bold;
  font-size: 32px;
  color: #64c4ed;
  text-overflow: ellipsis;
  overflow: hidden;
width: 320px;
  height: 1.2em;
  white-space: nowrap;
  text-align: center;
}
.edit-button {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 0 20px;
}
.edit-button :hover {
  animation: shake 0.5s ease-in;
}
@keyframes shake {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(0.05turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

.line {
  margin: 0 auto;
  max-width: 420px;
  height: 1px;
  background: #d6d6d6;
}

// --------------------

@media (max-width: 320px) {
  .header-label {
    padding: 0 10px;

    max-width: 220px;
  }
  .header-wrapper { 
    width: 220px;
   
   }
}
