
.sidebar {
  padding: 10px 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
    cursor: pointer;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  // ...
  &__list {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 10px;

    border-radius: 5px;
    &-item {
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      &__label {
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        height: 1.2em;
        white-space: nowrap;
      }
      &__close {
        opacity: 0;
        display: block;
      }
    }
  }
}

.sidebar__list-item:hover {
  transform: perspective(23rem);
}

.sidebar-item__active {
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 1, 0.4);
}
.close__active {
  opacity: 0.5;
  transition: 0.5;
}
.close__active:hover {
  opacity: 1;
}
.ellipse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  color: black;
  border: 2px solid #7C7C7C;
  text-align: center;
}

// li {
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
// }
