.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    cursor: pointer;

    margin-bottom: 5px;
    padding: 10px;

    border-radius: 5px;

    &-text {
      font-weight: 600;
      font-size: 14px;
      color: #000000;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      height: 1.2em;
      white-space: nowrap;
    }
    &-remove {
      opacity: 0;
      display: block;
      &__active {
        opacity: 0.5;
        transition: 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }
    &-active {
      background-color: white;
      box-shadow: 2px 2px 2px rgba(0, 0, 1, 0.4);
    }
  }
  &__items {
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  color: black;
  border: 2px solid #7c7c7c;
  text-align: center;
}

.hideShowFolderBtn {
  display: none;
  img {
    width: 20px;
    opacity: 0.3;
  }
  
}
@media screen and (max-width: 850px) {
  .sidebar {
    position: relative;
    padding: 10px;

    &__items {
      position: absolute;
      right: 10px;
      top:10px;

      display: flex;
      flex-direction: column;

      border-radius: 5px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 2px 2px 2px rgba(0, 0, 1, 0.4);

      transform: translateX(500px);
      transition: 0.5s;

      &-active {
        transform: translateX(0);
      }
      &__close-btn{
        top: -5px;
        left: -5px;
        z-index: 200;
      }
    }
  }

  .hideShowFolderBtn {
    display: flex;
  }
}
// @media screen and (max-width: 850px) {
//   .sidebar {
//     &__wrapper {
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//     }
//   }
//   .sidebar__element {
//     display: none;
//   }
//   .sidebar__element__active {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }
//
// }
